// Pure mixins and variables only.

$font: Inter, sans-serif;

$textbox-padding-x: 0.5rem;
$textbox-padding-y: 0;

@mixin bg-fade {
    transition: background-color 0.25s ease;
}

@mixin fade($props...) {
    transition-property: $props;
    transition-duration: 0.175s;
    transition-timing-function: ease;
}

@mixin tabular-nums {
    font-feature-settings: 'ss07', 'ss08', 'cv10', 'tnum';
}

@mixin textbox {
    background-color: var(--base-color-tertiary);
    outline: 1px solid var(--interactive-normal);
    border: none;
    border-radius: 4px;
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 600;
    padding: $textbox-padding-y $textbox-padding-x;
    box-sizing: content-box;

    &:focus-within {
        outline: 2px solid var(--interactive-active);
    }

    &:disabled, &.disabled {
        cursor: not-allowed;
        color: var(--interactive-muted);
        outline-color: var(--interactive-muted);
    }
}

@mixin button-color($normal, $hover, $active, $disabled, $text) {
    background-color: $normal;
    color: $text;

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }

    &:disabled {
        background-color: $disabled;
        color: rgba(255, 255, 255, 0.5);
    }
}
