@use './theme.scss';

@mixin button-color($normal, $hover, $active, $disabled, $text) {
    background-color: $normal;
    color: $text;

    &:hover {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }

    &:disabled {
        background-color: $disabled;
        color: rgba(255, 255, 255, 0.5);
    }
}

button {
    @include theme.fade(background-color, color);

    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    appearance: none;

    color: var(--text);
}
