button {
    transition: background-color 0.175s ease, color 0.175s ease;

    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    appearance: none;

    color: var(--text);
}
