:root {
    --base-color-primary: #161518;
    --base-color-secondary: #101113;
    --base-color-tertiary: #050607;

    --text: #f8f1e6;
    --text-detail: #b8b4ac;

    --link: #8de1e7;
    --link-underline: #8de1e77f;

    --toggle-hover: #f8f1e62a;
    --toggle-active: #f8f1e629;
    --toggle-active-disabled: #f8f1e619;

    --interactive-normal: #9b9996;
    --interactive-hover: #dbdad7;
    --interactive-active: #e7e5de;
    --interactive-muted: #5f5d59;
    --divider: #373344;

    --primary: #503f76;
    --primary-hover: #3c3267;
    --primary-active: #2b2652;
    --primary-muted: #3f3d4d;
    --primary-light: #71559b;
    --primary-lighter: #916db8;

    --red: rgb(206, 40, 53);
    --red-hover: rgb(153, 37, 72);
    --red-active: rgb(119, 29, 64);
    --red-muted: rgb(131, 50, 63);

    --yellow: rgb(238, 179, 49);
    --yellow-hover: rgb(201, 135, 59);
    --yellow-active: rgb(190, 109, 42);
    --yellow-muted: rgb(172, 124, 61);

    --green: rgb(16, 174, 106);
    --green-hover:rgb(32, 138, 120);
    --green-active:rgb(33, 114, 114);
    --green-muted: rgb(67, 141, 122);

    --pane-padding: 1rem;
    --corner-radius: 0.25rem;
}

@media(prefers-color-scheme: light) {
    :root {
        --base-color-primary: #eeeae4;
        --base-color-secondary: #e0dbd2;
        --base-color-tertiary: #fffcf7;

        --text: #161518;
        --text-detail: #262529;

        --link: #30597a;
        --link-underline: #30597a7f;

        --toggle-hover: #1615182a;
        --toggle-active: #16151829;
        --toggle-active-disabled: #16151819;

        --interactive-normal: #353433;
        --interactive-hover: #2c2b2b;
        --interactive-active: #1f1e1d;
        --interactive-muted: #85817c;
        --divider: #afa8a2;
    }
}
