.button {
    composes: button-reset from '../../css/shared.module.css';
    --button-bg: var(--primary);
    --button-bg-hover: var(--primary-hover);
    --button-bg-active: var(--primary-active);
    --button-bg-disabled: var(--primary-muted);

    flex: 0 0 auto;
    border: none;
    border-radius: var(--corner-radius);
    cursor: pointer;
    font-size: 90%;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    box-sizing: border-box;

    transition: background-color var(--fade), color var(--fade);

    display: inline-flex;
    margin: 0;
    line-height: 1;
    appearance: none;

    background-color: var(--button-bg);
    color: white;

    &:hover {
        background-color: var(--button-bg-hover);
    }

    &:active {
        background-color: var(--button-bg-active);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--button-bg-disabled);
        color: rgba(255, 255, 255, 0.5);
    }

    &.green {
        --button-bg: var(--green);
        --button-bg-hover: var(--green-hover);
        --button-bg-active: var(--green-active);
        --button-bg-disabled: var(--green-muted);
    }

    &.yellow {
        --button-bg: var(--yellow);
        --button-bg-hover: var(--yellow-hover);
        --button-bg-active: var(--yellow-active);
        --button-bg-disabled: var(--yellow-muted);
    }

    &.red {
        --button-bg: var(--red);
        --button-bg-hover: var(--red-hover);
        --button-bg-active: var(--red-active);
        --button-bg-disabled: var(--red-muted);
    }
}

.button-contents {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    gap: 0.25rem;
}
