.collapsible-header-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
}

.collapsible-header-title-text {
    margin-left: 0.25rem;
}
