.resizable-panel {
    position: relative;
    overflow: visible;
    box-sizing: border-box;
}

.splitter {
    overflow: visible;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    z-index: 1;

    &::after {
        content: '';
        background-color: var(--divider);
        display: flex;
        align-self: center;
    }

    &:hover::after {
        background-color: var(--interactive-hover);
    }
}

.vertical > .splitter {
    left: 0;
    right: 0;
    height: var(--splitter-size);
    cursor: ns-resize;

    &::after {
        height: 1px;
        width: 100%;
    }
}

.horizontal > .splitter {
    top: 0;
    bottom: 0;
    width: var(--splitter-size);
    cursor: ew-resize;

    &::after {
        width: 1px;
        height: 100%;
    }
}

.topEdge > .splitter {
    top: calc(var(--splitter-size) / -2);
}

.bottomEdge > .splitter {
    bottom: calc(var(--splitter-size) / -2);
}

.leftEdge > .splitter {
    left: calc(var(--splitter-size) / -2);
}

.rightEdge > .splitter {
    right: calc(var(--splitter-size) / -2);
}

:root {
    --splitter-size: 0.5rem;
}

@media (pointer: coarse) {
    :root {
        --splitter-size: 1rem;
    }
}

@media (hover: none) {
    .resizable-panel.leftEdge {
        & > .splitter {
            left: 0;
        }
        padding-left: calc(var(--splitter-size));
    }
    .resizable-panel.rightEdge {
        & > .splitter {
            right: 0;
        }
        padding-right: calc(var(--splitter-size));
    }
    .resizable-panel.topEdge {
        & > .splitter {
            top: 0;
        }
        padding-top: calc(var(--splitter-size));
    }
    .resizable-panel.bottomEdge {
        & > .splitter {
            bottom: 0;
        }
        padding-bottom: calc(var(--splitter-size));
    }

    .splitter {
        background-color: var(--base-color-tertiary);
        border: none;

        &::after {
            content: '';
            background-color: var(--divider);
            border-radius: var(--splitter-size);
            display: flex;
            align-self: center;
        }
    }

    .horizontal > .splitter {
        &::after {
            width: 2px;
            height: 50%;
        }
    }

    .vertical > .splitter {
        &::after {
            height: 2px;
            width: 50%;
        }
    }
}
