.icon-button {
    padding: 0.25rem;
    cursor: pointer;
    display: flex;
    border-radius: var(--corner-radius);

    &:not(:disabled):hover {
        background-color: var(--toggle-hover);
    }

    &:not(:disabled):active {
        background-color: var(--toggle-active);
    }
}

.toggle-icon:disabled {
    color: var(--interactive-muted);
    cursor: not-allowed;
}

.toggle-icon.toggledOn {
    background-color: var(--toggle-active);
    outline: 1px solid var(--interactive-normal);

    &:disabled {
        background-color: var(--toggle-active-disabled);
        outline-color: var(--interactive-muted);
        color: var(--interactive-normal);
    }
}
