.modal-wrapper {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-positioner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    pointer-events: none;
}

.modal {
    z-index: 3;
    background-color: var(--base-color-primary);
    border-radius: var(--corner-radius);
    pointer-events: all;
}

.modal-header {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    margin: 1rem 0 1.5rem;
}

.modal-header-left {
    display: flex;
    align-items: center;
}

.close-button {
    margin-left: auto;
}
