@use '../../css/mixins' as theme;

.icon {
    width: 24px;
    height: 24px;
    background-color: currentColor;
    display: inline-block;
    mask-size: cover;
    flex: 0 0 auto;

    &.motif-monochrome {
        color: var(--interactive-normal);
    }

    &.motif-primary {
        background-color: var(--primary-lighter);
    }

    &.motif-success {
        background-color: var(--green);
    }

    &.motif-warning {
        background-color: var(--yellow);
    }

    &.motif-error {
        background-color: var(--red);
    }

    &.icon-clickable {
        @include theme.fade(opacity);
        &:hover {
            opacity: 0.875;
        }

        &:active {
            opacity: 0.75;
        }

        &.icon-disabled {
            opacity: 0.5;
        }
    }
}

@mixin button-color($hover, $active, $disabled) {
    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }

    &.icon-disabled {
        color: $disabled;
    }
}

:root {
    --icon-button-color: var(--interactive-normal);
}

.icon-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: var(--icon-button-color);
    @include theme.fade(color, opacity);

    @include button-color(var(--interactive-hover), var(--interactive-active), var(--interactive-muted));

    &.motif-monochrome {
        @include button-color(currentColor, currentColor, currentColor);

        &:hover {
            opacity: 0.875;
        }

        &:active {
            opacity: 0.75;
        }

        &.icon-disabled {
            opacity: 0.5;
        }
    }

    &:focus-visible {
        outline: 2px solid var(--text);
        border-radius: var(--corner-radius);
    }

    &.icon-disabled {
        cursor: not-allowed;
    }

    & .icon {
        pointer-events: none;
    }
}

@mixin def-icons($names) {
    @each $name in $names {
        .icon-#{$name} {
            mask-image: url('../../assets/icons/#{$name}.svg');
        }
    }
}

.icon-arrow-right {
    transform: rotate(-90deg);
}

.icon-arrow-up {
    transform: rotate(180deg);
}

.icon-arrow-left {
    transform: rotate(90deg);
}

.icon-arrow-right, .icon-arrow-down, .icon-arrow-up, .icon-arrow-left {
    mask-image: url('../../assets/icons/arrow-down.svg');
    @include theme.fade(transform);
}

@include def-icons(
    arrow-down
    cancel
    check
    close
    copy
    download
    edit
    effect
    error
    file
    folder
    funnel
    gear
    github
    globe
    link
    menu
    paste
    pause
    play
    pin
    plus
    range
    redo
    reset
    search
    speaker
    speaker-mute
    stack
    undo
    upload
    warning
)